.table-container{
    width:100%;
}

.reservation-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.table-container table{
    width:100%;
    border-collapse:collapse;
}

#toolbar{
    margin-bottom:10px;
}